<!-- NAVBAR -->

<app-navbar></app-navbar>
<app-chat-room></app-chat-room>
  <!-- CUERPO -->

  <body class="text-center">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
    
      <main role="main" class="inner cover">
        <h1 class="cover-heading">¿Quien Soy?</h1>
        <h2 class="cover-heading">Mi nombre es Jorge Carrizo</h2>
        <img class="fotoJorge" src="../../../assets/JorFoto.jpg" alt="">
        <p class="lead">Les cuento un poco sobre mi: tengo 34 años de edad y soy estudiante de la UTN en la tecnicatura superior en programacion, actualmente estoy trabajando como soporte en sistemas distribuidos en el Banco de la Nación Argentina</p>
        <p class="lead">SOBRE MI JUEGO: consiste en elejir de una columna un equipo de futbol y emparejarlo con la liga correcta en la otra columna</p>
        
      </main>
    
      
    </div>
    
    
        
      </body>

  

