<app-navbar></app-navbar>

<p>USUARIO CORRECTO email:jorge@gmail.com password:password</p>

<div>
<button style="margin-left: 50%; margin-bottom: 2px;" class="btn btn-lg btn-primary" (click)="cargarUser()">Usuario Jorge</button>

  



<form [formGroup]="loginForm"  class="form-signin" (ngSubmit)="onLogin()">
  <img style="padding: auto;" class="mb-4" src="../../../assets/wellcome.jpg" alt="" width="100%" height="auto">
  <h1 class="h3 mb-3 font-weight-normal">Ingrese</h1>
  <label for="inputEmail"  class="sr-only">Usuario</label>
  
  
  <input  type="email" class="form-control" placeholder=E-mail formControlName="email" [(ngModel)]="emailDefecto">

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" [(ngModel)]="passwordDefecto">
  
  <button class="btn btn-lg btn-primary btn-block" type="submit" >ingresar</button>
 
</form>

</div>

