
<nav style="display: fle;" class="navbar navbar-expand-md navbar-dark bg-dark ">
    <a style="width: 75%;" class="navbar-brand" href="bienvenido">INICIO</a>
    
    <div style="width: auto;" class=" navbar-collapse" id="navbarCollapse">
      <ul class=" navbar-nav mr-sm-2"> 
        
        <li>
          <a class="nav-link" href="quienSoy" (click)=quienSoy() *ngIf="isLogged">¿Quien Soy? </a>
        </li>
        <li>
          <a class="nav-link" href="login" (click)=onLogOut() *ngIf="isLogged">Salir </a>
          <a class="nav-link" href="login" (click)=goLogin() *ngIf="!isLogged">LogIn </a>
        </li>
        <li>
            <a class="nav-link" href="register" (click)=goRegister() *ngIf="!isLogged">Registrate </a>
        </li>
        <li *ngIf ="user$ | async as user">
          <a class="nav-link">{{ user?.email }}</a>
        </li>
        
      </ul>
 
           
    </div>
</nav>
  
  