.contenedor--centrado{
    
        
    text-align: center;
        top: 70%;
        left: 30%;
        width:100%;
        
}

@media (min-width: 768px) {
    
    .contenedor--centrado{
    text-align: center;

    top: 70%;
    left: 30%;
    width:100%;
    }
    
}


.contenedor--Botones{
    padding: 2px;
    display: inline-block;
    text-align: center;
    border: gray solid 1px;
    
    
}


.botones--letras{

    margin: 4px;
    
}


.imagenFondo{
    background-image: url("../../../assets/inicio.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 5%;
}

.mymodal{
    position: absolute;
    text-align: center;
    top: 30%;    
    width:100%;
    display: none;
}
