








<div class="contenedor--centrado">

    <div class="contenedor--Botones">
        <button id="Q" class="botones--letras btn btn-info">Q</button>
        <button id="W" class="botones--letras btn btn-info">W</button>
        <button id="E" class="botones--letras btn btn-info">E</button>
        <button id="R" class="botones--letras btn btn-info">R</button>
        <button id="T" class="botones--letras btn btn-info">T</button>
        <button id="Y" class="botones--letras btn btn-info">Y</button>
        <button id="U" class="botones--letras btn btn-info">U</button>
        <button id="I" class="botones--letras btn btn-info">I</button>
        <button id="O" class="botones--letras btn btn-info">O</button>
        <button id="P" class="botones--letras btn btn-info">P</button><br>
        <button id="A" class="botones--letras btn btn-info">A</button>
        <button id="S" class="botones--letras btn btn-info">S</button>
        <button id="D" class="botones--letras btn btn-info">D</button>
        <button id="F" class="botones--letras btn btn-info">F</button>
        <button id="G" class="botones--letras btn btn-info">G</button>
        <button id="H" class="botones--letras btn btn-info">H</button>
        <button id="J" class="botones--letras btn btn-info">J</button>
        <button id="K" class="botones--letras btn btn-info">K</button>
        <button id="L" class="botones--letras btn btn-info">L</button>
        <button id="Ñ" class="botones--letras btn btn-info">Ñ</button><br>
        <button id="Z" class="botones--letras btn btn-info">Z</button>
        <button id="X" class="botones--letras btn btn-info">X</button>
        <button id="C" class="botones--letras btn btn-info">C</button>
        <button id="V" class="botones--letras btn btn-info">V</button>
        <button id="B" class="botones--letras btn btn-info">B</button>
        <button id="B" class="botones--letras btn btn-info">N</button>
        <button id="B" class="botones--letras btn btn-info">M</button>
    </div>

</div>