.background{
    background-image: url("../../../assets/ahorcado/backAhorcado.jpg");
    background-size: cover;
}

.contenedor--centrado{
    
        display: block;
        text-align: center;
        top: 70%;
        left: 500px;
        width:100%;
        padding: 5px;
        
}
.contenedor--Botones{
    padding: 2px;
    text-align: center;
    border: gray solid 1px;
    
}

@media (min-width: 768px) {
    
    .contenedor--Botones{
        
        display: block;
        
        width: 450px;
        
    }
    .panel{
        
        padding: 4px;
        padding-bottom: 30px;
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        
        
    }
}

.botones--letras{

    margin: 4px;
    
}

.imagenFondo{
    background-image: url("https://wallpapercave.com/wp/9LJWhpZ.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 5%;
   
}


.mymodal{
    position: absolute;
    text-align: center;
    top: 30%;    
    width:100%;
    display: none;
}
.looser{
    position: absolute;
    text-align: center;
    top: 30%;    
    width:100%;
    display: none;
}
