
<app-navbar></app-navbar>
<app-chat-room></app-chat-room>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  
        

<body class="imagenFondo iconos">
    
  <div class="contenedor-juegos">  
  <!--BOTON AHORCADO-->
      <section class="sectionBotones--juegos">
        <a class="botonjuegos ahorcado-button"></a>
        <button href="ahorcado" class="vermas" (click)="ahorcado()">JUGAR</button>
      </section>

      <section class="sectionBotones--juegos">
        <a class="botonjuegos mYm-button"></a>
        <button href="mayorMenor" class="vermas" (click)="mayorMenor()">JUGAR</button>
      </section>

      <section class="sectionBotones--juegos">
        <a class="botonjuegos preguntados-button"></a>
        <button class="vermas" (click)="preguntados()">JUGAR</button>
      </section>

      <section class="sectionBotones--juegos">
        <a class="botonjuegos futbol-button" ></a>
        <button href="preguntados" class="vermas" (click)="futbol()">VER MAS</button>
      </section>
         
  </div>  
      
      


     
      
</body>
