/* Show it's not fixed to the top */
body {
    min-height: 75rem;
    background-color: grey;
    
  }


.otro-nav-link:hover{
    cursor: pointer
}

.imagenFondo{
    background-image: url("https://wallpapercave.com/wp/9LJWhpZ.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 5%;
}



.card-img-top{
    background-size: cover;
    
}

.card-body{
    text-align: center;
    
}






.botonjuegos{
    border-radius: 70px;    
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    margin: 10px;
}
.ahorcado-button{
    background-image: url("https://store-images.microsoft.com/image/apps.61539.9007199266268723.0e9a482c-7807-42bd-a764-af6114115396.9c01fd6a-26be-4128-aabe-5a8301210e99?mode=scale&q=90&h=200&w=200&background=%23464646");
}
.mYm-button{
    background-image: url("../../../assets/MayorMenor/mayorMenor.png");
}
.preguntados-button{
    background-image: url("https://img.utdstc.com/icon/5c7/260/5c7260e4a11ea9513637607e6ec763fe335ed3882c3dd9a41caf6f17240a7b7c:200");
}
.futbol-button{
    background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Purple91/v4/91/b6/f9/91b6f90a-1b04-5ea2-1d49-de4864361502/source/512x512bb.jpg");
    background-size:90%;
    background-repeat: no-repeat;
}

   

 

.sectionBotones--juegos{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    align-items: center;
    justify-content: center;
    
}

.vermas{
    border-radius: 70px;
    height: 50px;
    width: 150px;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
    .sectionBotones--juegos{
        margin-bottom:20px;
    }
    .contenedor-juegos{
        display: grid;  
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        
    }
    
}